<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<springProperty scope="context" name="logDir" source="logging.path" />
	<springProperty scope="context" name="logFile" source="logging.file" />

	<property name="LOG_FILE" value="${logDir}/${logFile}" />
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<include resource="org/springframework/boot/logging/logback/file-appender.xml" />

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</configuration>